<div class='main-container' fxLayout="column">
  <div fxLayout='row'>
    <div>
      <h4>Algoritmo del Máximo Clique</h4>
      <h5>¿Qué es un Cliqué?</h5>
      <p>Un clique se define como como un conjunto de vértices dentro de un grafo tales que todo par de vértices distintos son adyacentes, es decir,
        es un subgrafo en el que todos los vértices están conectados entre sí.</p>
      <h5>¿Qué es el algorimto del máximo clique?</h5>
      <p>Dentro de la compiutación, el problema del Máximo Clique es un problema NP, el cual consiste en hayar el clique de máximo tamaño dado un algoritmo.</p>
      <p>El problema de clique es un problema de decisión para determinar cuándo un grafo contiene un clique de al menos un tamaño k. Una vez que tenemos k o m
        ás vértices que forman un clique, es trivial verificar que lo son, por eso es un problema NP. El correspondiente problema de optimización, consiste en
        encontrar un clique de tamaño máximo en un grafo </p>
      <h4>Para ver el algoritmo en acción, haga click en el menú de la esquina superior izquierda y después seleccione la opción de Algoritmo</h4>
    </div>
    <div class='img-container'>
      <img src='../../assets/img/grafo.png'>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openGithub()">
        <mat-icon>bookmark</mat-icon>
        Ver Código en Github
      </button>
    </div>
  </div>
</div>
